<ng-template #poolerPicks>
    <div *ngFor="let poolParticipant of poolParticipantsInPickOrder" class="mb-1" [attr.data-id]="poolParticipant.pooler.poolerGuid">
      <app-pooler-picks [isSpectating]="isSpectating" [poolParticipant]="poolParticipant" [picking]="pickingPoolerGuid === poolParticipant.pooler.poolerGuid"
        [pickingNext]="nextPickingPoolerGuid === poolParticipant.pooler.poolerGuid" [playerSelectionStarted]="playerSelectionStarted"
        (rename)="renamePooler(poolParticipant, $event)" (delete)="removePooler(poolParticipant)"></app-pooler-picks>
    </div>
</ng-template>

<div *ngIf="!playerSelectionStarted && !isSpectating" [sortablejs]="poolParticipantsInPickOrder" [sortablejsOptions]="sortableJsOptions">
  <ng-container *ngTemplateOutlet="poolerPicks"></ng-container>
</div>
<div *ngIf="playerSelectionStarted || isSpectating">
  <ng-container *ngTemplateOutlet="poolerPicks"></ng-container>
</div>