<div class="d-flex align-items-center">
  <span>
    {{ player.name }}
  </span>
  <span *ngIf="injury" class="ml-2">
    <i class="fa fa-times text-danger" [tooltip]="injury.description"></i>
  </span>
</div>
