<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <span class="ml-2"><ng-content select="[modal-header-extra]"></ng-content></span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-content select="[modal-content]"></ng-content>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Fermer</button>
    </div>
</ng-template>

<div (click)="open(content)">
    <ng-content select="[modal-open]"></ng-content>
</div>