<form [formGroup]="resumePoolForm" (ngSubmit)="onSubmit()">
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="name">
      Saison :
    </label>
    <div class="col">
      <select formControlName="season" class="form-control col-2 col-md-4 col-lg-2 pt-md-1"
        [ngClass]="{ 'is-invalid': submitted && form.season.errors }">
        <option *ngFor="let season of availableSeasons" [ngValue]="season">{{ season }}</option>
      </select>
      <div *ngIf="submitted && form.season.errors" class="invalid-feedback">
        <div *ngIf="form.season.errors.required">Le nom du pool est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-4 text-md-right align-self-start pt-md-1" for="poolName">
      Nom du pool :
    </label>
    <div class="col col-md-6">
      <input type="text" formControlName="poolName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.poolName.errors }" />
      <div *ngIf="submitted && form.poolName.errors" class="invalid-feedback">
        <div *ngIf="form.poolName.errors.required">Le nom du pool est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-4 text-md-right align-self-start pt-md-1" for="password">
      Mot de passe :
    </label>
    <div class="col col-md-6">
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
      <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Le mot de passe est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary pull-right">Poursuivre la sélection</button>
  </div>
</form>