<nav class="navbar navbar-dark bg-primary d-block py-0">
  <div class="navbar-brand d-flex">
    <div class="mr-5">
      <h1>{{ title }}</h1>
    </div>

    <div *ngIf="currentPool" class="w-100 d-flex mt-2">
      <div class="m-2 mr-auto my-auto">
        <h3>
          {{ currentPool.name }}
        </h3>
      </div>

      <div *ngIf="currentPool.currentRound && currentPool.totalRounds" class="m-3 mr-auto my-auto">
        <h3>
          Ronde {{ currentPool.currentRound }} / {{ currentPool.totalRounds }}
        </h3>
      </div>

      <div class="m-3 my-auto">
        <h6>
          {{ currentPool.nbGoalerPicks }} gardien(s)
        </h6>
      </div>

      <div class="m-3 my-auto">
        <h6>
          {{ currentPool.nbOffenseDefensePicks }} attaquants et défenseurs
        </h6>
      </div>

      <div class="d-none d-md-block m-3 my-auto no-print">
        <h6>
          {{ currentPool.pickTimeLimitInSeconds }} secondes pour choisir
        </h6>
      </div>
    </div>

    <div class="my-auto ml-auto no-print">
      <app-theme-switcher></app-theme-switcher>
    </div>
  </div>
</nav>
<router-outlet (activate)="onRouteChange()"></router-outlet>