<div class="d-flex flex-fill">
  <div *ngIf="!isSpectating" class="m-auto w-100" [ngSwitch]="playerSelectionCompleted">
    <div *ngSwitchCase="false" class="text-center">
      <h4 class="my-auto" [ngClass]="{'text-danger': countdownAlmostFinished}" placement="top"
        tooltip="Temps restant pour faire un choix" [max-width]="125" tooltip-class="no-print">
        <countdown [config]="{leftTime: countdownTimeInSeconds, notify: [25]}" (finished)="countdownFinished()"
          (notify)="countdownAlmostFinished = true">$!m!:$!s!</countdown>
      </h4>
    </div>
    <div *ngSwitchCase="true">
      <button type="submit" class="btn btn-block btn-primary" (click)="navigateToReport()" placement="top"
        tooltip="Afficher le rapport des sélections effectuées par les poolers" tooltip-class="no-print">
        Finaliser le pool
      </button>
    </div>
  </div>
  <div *ngIf="isSpectating" class="m-auto w-100">
    <button type="submit" class="btn btn-block btn-primary" (click)="navigateToReport()" placement="top"
      tooltip="Afficher le rapport des sélections effectuées par les poolers" tooltip-class="no-print">
      Cacher la grille des joueurs
    </button>
  </div>
  <div *ngIf="!isSpectating" class="d-flex">
    <button *ngIf="!paused && !playerSelectionCompleted" type="submit" class="btn btn-sm btn-primary"
      (click)="stopCountdown()" placement="top" tooltip="Pause" tooltip-class="no-print">
      <i class="fa fa-pause"></i>
    </button>
    <button *ngIf="paused && !playerSelectionCompleted" type="submit" class="btn btn-sm btn-primary"
      (click)="resumeCountdown()" placement="top" tooltip="Play" tooltip-class="no-print">
      <i class="fa fa-play"></i>
    </button>
    <button type="submit" class="btn btn-sm btn-danger ml-2" (click)="undoLastPick.emit()" placement="top"
      tooltip="Annuler le dernier choix effectué" tooltip-class="no-print">
      <i class="fa fa-undo"></i>
    </button>
  </div>
</div>