<form [formGroup]="createPoolForm" (ngSubmit)="onSubmit()">
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="name">
      Saison :
    </label>
    <div class="col">
      <select formControlName="season" class="form-control col-2 col-md-4 col-lg-2 pt-md-1"
        [ngClass]="{ 'is-invalid': submitted && form.season.errors }">
        <option *ngFor="let season of availableSeasons" [ngValue]="season">{{ season }}</option>
      </select>
      <div *ngIf="submitted && form.season.errors" class="invalid-feedback">
        <div *ngIf="form.season.errors.required">Le nom du pool est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="name">
      Nom du pool :
    </label>
    <div class="col">
      <input type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
      <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
        <div *ngIf="form.name.errors.required">Le nom du pool est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="nbGoalerPicks">
      Nombre de gardiens :
    </label>
    <div class="col">
      <input type="number" class="form-control col-2 col-md-4 col-lg-2 pt-md-1" formControlName="nbGoalerPicks" min="0" max="20"
        [ngClass]="{ 'is-invalid': submitted && form.nbGoalerPicks.errors }" />
      <div *ngIf="submitted && form.nbGoalerPicks.errors" class="invalid-feedback">
        <div *ngIf="form.nbGoalerPicks.errors.required">Le nombre de gardiens est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="nbOffenseDefensePicks">
      Nombre total d'attaquants/défenseurs :
    </label>
    <div class="col">
      <input type="number" class="form-control col-2 col-md-4 col-lg-2" formControlName="nbOffenseDefensePicks" min="0" max="99"
        [ngClass]="{ 'is-invalid': submitted && form.nbOffenseDefensePicks.errors }" />
      <div *ngIf="submitted && form.nbOffenseDefensePicks.errors" class="invalid-feedback">
        <div *ngIf="form.nbOffenseDefensePicks.errors.required">Le nombre total d'attaquants/défenseurs est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="pickTimeLimitInSeconds">
      Temps permis pour faire un choix :
    </label>
    <div class="col">
      <input type="number" class="form-control col-2 col-md-4 col-lg-2" formControlName="pickTimeLimitInSeconds" min="30" max="999"
        [ngClass]="{ 'is-invalid': submitted && form.pickTimeLimitInSeconds.errors }" />
      <div *ngIf="submitted && form.pickTimeLimitInSeconds.errors" class="invalid-feedback">
        <div *ngIf="form.pickTimeLimitInSeconds.errors.required">Le temps permis pour faire un choix est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="password">
      <i class="fa fa-question-circle" placement="top" [tooltip]="'Utilisé pour poursuivre la sélection'"></i>&nbsp;Mot
      de passe :
    </label>
    <div class="col">
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
      <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Le mot de passe est requis</div>
        <div *ngIf="form.password.errors.minlength">Le mot de passe doit contenir au moins 6 caractères</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-md-6 col-lg-4 text-md-right align-self-start pt-md-1" for="passwordConfirmation">
      Confirmation du mot de passe :
    </label>
    <div class="col">
      <input type="password" formControlName="passwordConfirmation" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && (form.passwordConfirmation.errors || createPoolForm.errors) }" />
      <div *ngIf="submitted && (form.passwordConfirmation.errors || createPoolForm.errors)" class="invalid-feedback">
        <div *ngIf="form.passwordConfirmation.errors && form.passwordConfirmation.errors.required">La confiramtion du
          mot
          de passe est requise</div>
        <div *ngIf="form.passwordConfirmation.errors && form.passwordConfirmation.errors.minlength">La confirmation du
          mot
          de passe doit contenir au
          moins 6 caractères</div>
        <div
          *ngIf="!form.passwordConfirmation.errors && createPoolForm.errors && formErrors.errors.doesntMatchPassword">
          La confirmation du mot
          de passe doit être identique au mot de passe</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary pull-right">Créer le pool</button>
  </div>
</form>