<div class="container-fluid h-100" style="overflow-y: hidden">
  <div class="row h-100">
    <div class="col-3 col-lg-2 h-100 d-flex flex-column">
      <h5>Poolers</h5>
      <ng-scrollbar class="mb-4">
        <div [ngClass]="playerSelectionStarted ? 'poolers-list-players-selection' : 'poolers-list'">
          <app-poolers-list [playerSelectionStarted]="playerSelectionStarted" [isSpectating]="isSpectating" (picksCompleted)="picksCompleted()"></app-poolers-list>
          <!-- (updatePoolers)="updatePoolersMap($event)" -->
        </div>
      </ng-scrollbar>
      <div class="mt-auto py-3 border-top">
        <button *ngIf="!isSpectating" class="btn btn-sm btn-primary w-100 mb-2" ngxClipboard [cbContent]="guestUrl">Copier le lien pour les invités</button>
        <app-player-selection-controls
          *ngIf="isSpectating"
          [isSpectating]="isSpectating"
          [playerSelectionCompleted]="playerSelectionCompleted"
          [countdownTimeInSeconds]="currentPool.pickTimeLimitInSeconds"
          (pickTimeElapsed)="forcePickBestPlayer()"
          (undoLastPick)="undoLastPick()"
        ></app-player-selection-controls>
        <div [ngSwitch]="playerSelectionStarted">
          <div *ngIf="!isSpectating">
            <app-add-new-pooler *ngSwitchCase="false"></app-add-new-pooler>
            <app-player-selection-controls
              *ngSwitchCase="true"
              [isSpectating]="isSpectating"
              [playerSelectionCompleted]="playerSelectionCompleted"
              [countdownTimeInSeconds]="currentPool.pickTimeLimitInSeconds"
              (pickTimeElapsed)="forcePickBestPlayer()"
              (undoLastPick)="undoLastPick()"
            ></app-player-selection-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 col-lg-10 border-left h-100">
      <ng-scrollbar>
        <app-players-grid [isSpectating]="isSpectating" (playerPicked)="pickPlayer($event)"></app-players-grid>
      </ng-scrollbar>
    </div>
  </div>
</div>
