@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-dt/css/buttons.dataTables.css";

html,
body {
    height: calc(100% - 50px);
    min-width: fit-content;
    padding: 0;
    margin: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

.navbar {
    margin-bottom: 20px;
}

.nav-pills.nav {
    justify-content: center;
}

.ng-scrollbar {
    --scrollbar-padding: 0px !important;
    --scrollbar-size: 8px !important;
}

.btn-sm {
    min-width: 40px;
}

td {
    vertical-align: middle !important;
}

.invalid-feedback {
    margin-top: 0;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: flex-start;
}

.btn-pick {
    padding-top: 0;
    padding-bottom: 0;
}

.poolers-list .list-group-item {
    padding: 0.1rem 1.25rem;
}

.picked-player img {
    opacity: 0.2;
}

table.dataTable {
    width: 100% !important;
}

.button-page-length {
    width: 100%;
    margin-bottom: 0.5rem !important;
}

.button-page-length:last-of-type {
    margin-bottom: 0rem !important;
}

.page-link:focus {
    box-shadow: none !important;
}

.player-stats-modal .modal-dialog {
    max-width: 80% !important;
    width: 80% !important;
}

.player-stats-modal .modal-dialog,
.player-stats-modal .modal-content {
    height: 95%; /* Leave some room for modal margins */
}

iframe,
.playerStatsFrame {
    height: 100%;
    width: 100%;
}

@media print {
    .no-print {
        display: none;
    }
}

/* Fix for Bootstrap overriding ngx-toastr styles */
#toast-container > div {
    opacity: 1;
}
