.darkly {
    $green: #0b5243 !default;
    $blue: #375a7f !default;
    $info: darken($blue, 5%) !default;
    $link-color: $blue !default;
    $pagination-bg: $blue !default;
    $pagination-hover-bg: darken($pagination-bg, 5%) !default;
    $pagination-disabled-bg: lighten($pagination-bg, 15%) !default;
    @import "~bootswatch/dist/darkly/_variables.scss";
    @import "~bootstrap/scss/bootstrap";
    @import "~ngx-toastr/toastr-bs4-alert";
    @import "~bootswatch/dist/darkly/_bootswatch.scss";

    .ng-scrollbar {
        --scrollbar-thumb-color: rgba(255, 255, 255, 0.2) !important;
    }

    // .bg-info {
    //     background-color: #263c53;
    // }

    .btn-primary:disabled,
    .btn-primary.disabled {
        background-color: #9ebfe2;
        border-color: #9ebfe2;
    }

    .btn.btn-outline-dark {
        color: #8f8f8f;
    }

    div.dt-button-collection {
        background-color: #121212;
    }

    .picked-player {
        color: #646464;
    }

    // Flag that it's a loading spinner... don't put a real pink background somewhere
    div[style*="background: pink"],
    .dt-button-background {
        background: rgba(0, 0, 0, 0.8) !important;
    }

    .card-header.bg-success {
        color: white;
    }
}
