.flatly {
    // $green: #0b5243 !default;
    $input-color: black !default;
    $blue: #3a5977 !default;
    $info: lighten($blue, 25%) !default;
    $link-color: $blue !default;
    $pagination-bg: $blue !default;
    $pagination-hover-bg: darken($pagination-bg, 5%) !default;
    $pagination-disabled-bg: lighten($pagination-bg, 15%) !default;
    @import "~bootswatch/dist/flatly/_variables.scss";
    @import "~bootstrap/scss/bootstrap";
    @import "~ngx-toastr/toastr-bs4-alert";
    @import "~bootswatch/dist/flatly/_bootswatch.scss";

    .ng-scrollbar {
        --scrollbar-thumb-color: rgba(0, 0, 0, 0.2) !important;
    }

    .btn-primary:disabled,
    .btn-primary.disabled {
        background-color: #789;
        border-color: #789;
    }

    div.dt-button-collection {
        background-color: #dbdbdb;
    }

    .picked-player {
        color: #cacaca;
    }

    // Flag that it's a loading spinner... don't put a real pink background somewhere
    div[style*="background: pink"],
    .dt-button-background {
        background: rgba(255, 255, 255, 0.8) !important;
    }
}
