<div class="card">
  <div class="card-header" data-toggle="collapse" [attr.aria-expanded]="!isCollapsed || picking || isReport"
    (click)="isCollapsed = !isCollapsed && !isReport"
    [ngClass]="picking ? 'bg-success' : (pickingNext ? 'bg-info' : '')">
    <div class="d-flex flex-wrap">
      <div class="flex-fill my-auto">
        <div *ngIf="!isRenaming">
          {{ poolParticipant.pooler.name }}
        </div>
        <input #renameInput *ngIf="!playerSelectionStarted && isRenaming" class="form-control" autocomplete="off"
          [(ngModel)]="newPoolerName" (keyup.enter)="renameMe()" (keyup.escape)="cancelRename()"
          (click)="$event.stopPropagation();">
      </div>
      <div *ngIf="!isSpectating && !playerSelectionStarted && !isReport" class="flex-fill d-flex justify-content-end">
        <div class="btn-group">
          <button *ngIf="isRenaming" class="btn btn-danger" (click)="cancelRename(); $event.stopPropagation();">
            <i class="fa fa-times"></i>
          </button>
          <button *ngIf="!isRenaming" class="btn btn-primary" (click)="startRename(); $event.stopPropagation();">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteMe(); $event.stopPropagation();">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isCollapsed || picking || isReport">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let playerPick of getPoolerPicksInRankOrder(poolParticipant)">
        <div class="d-flex flex-fill">
          <app-player-stats-modal [player]="playerPick">
            <button class="btn btn-sm btn-primary" tooltip="Plus de stats"><i class="fa fa-bar-chart"></i></button>
          </app-player-stats-modal>
          <span class="ml-2">
            <app-player-name [player]="playerPick"></app-player-name>
          </span>
        </div>
        {{playerPick.position}} - {{playerPick.predictions[0]?.points}} points
      </li>
    </ul>
  </div>
</div>
